@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Professor"] = "Nélio Alves";
}
<h1>@ViewData["Title"]</h1>


<p>Salles web MVC App from C# Course.</p>
<p>Professor @ViewData["Professor"]</p>
<adress>
    <strong>More Information: </strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
</adress>
